body {
    background: #fafafa;
    font-family: Tahoma, sans-serif;
    margin: 20px;
}

/* External стилізація блоку */
.external-block {
    background: #ffffff;
    padding: 18px;
    border-left: 5px solid #3c8dbc;
    margin-bottom: 25px;
}

/* FLOAT */
.float-wrap {
    border: 1px solid #bbb;
    padding: 15px;
    background: #fff;
    overflow: auto;
}

.float-img {
    float: right;
    width: 160px;
    height: auto;
    border: 2px solid #3c8dbc;
    margin-left: 15px;
    margin-bottom: 10px;
}

/* ABSOLUTE + RELATIVE */
.pos-parent {
    position: relative;
    background: #e6e6e6;
    padding: 20px;
    height: 180px;
    border: 2px solid #777;
    margin-top: 25px;
}

.pos-child {
    position: absolute;
    right: 20px;
    top: 25px;
    background: #ff5757;
    color: #fff;
    padding: 12px;
    width: 160px;
    text-align: center;
    border-radius: 5px;
}

/* CUSTOM LIST */
.nice-list {
    list-style: none;
    padding-left: 0;
}

.nice-list li {
    padding-left: 28px;
    margin-bottom: 10px;
    position: relative;
}

.nice-list li::before {
    content: "★";
    position: absolute;
    left: 0;
    top: 0;
    color: #ff9800;
    font-size: 18px;
}

/* FLEXBOX */
.flex-container {
    width: 95%;
    max-width: 520px;
    background: #f0f0ff;
    padding: 15px;
    margin: 25px auto;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box {
    width: 130px;
    height: 130px;
    background: #5a5ad1;
    border: 2px solid white;
}

.box.tall {
    height: 300px;
}
